.section-hero {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* Hero-section*/
.hero {
  display: grid;
  height: 35rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-primary {
  margin-bottom: 1rem;
}
.heading-greet {
  color: #fb8080;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.hero-description {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0px !important;
}

.hero-img-box {
  overflow: hidden;
  border-radius: 11px;
  justify-self: center;
  align-self: center;
}
.hero-text-box {
  padding-left: 25%;
}
.carousel-status {
  display: none;
}
